RewriteEngine On

IndexIgnore *

# Diretório de Imagens
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} -f
# Parametros que irão forçar o php mesmo com arquivos existindo
RewriteRule ^(midias/).+(\.png$|\.jpg)$ index.php/$1 [L]

# Aplicação
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ index.php/$1 [L]

<Files ~ "(.htaccess|manifest.json|mf_develop.json|composer.json|composer.lock|.env|.log.html|.sql)">
    Order allow,deny
    Deny from all
</Files>